.detail-body-container {
    display: grid;
    grid-template-rows: 4fr 3fr; /* 자식 요소 비율을 4:3으로 나눔 */
    gap: 10px; /* 요소 간의 간격 */
    height: 100vh;
}

.contents {
    overflow: hidden;
}

img {
    width: 100%;
    max-height: 100%;
}


