.header-container {
    display: flex;
    justify-content: space-between;
    margin : 0 120px 12px 120px;
    padding-top: 12px;
}

h1 {
    color: red;
    text-decoration: none;
}

.sign-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px 0 24px;
}

.sign {
    margin: 0 8px;
    font-weight: bolder;
}