.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.movielist-body-container {
    height: 100vh;
    overflow-y: scroll;
}

.contents-container {
    padding: 48px;
    background-color: black;
    /* overflow-y: scroll; */
}

.list-header {
    display: flex;
    justify-content: end;
    height: 48px;
    border-radius: 8px;
    flex-shrink: 0;
}

.sort {
    width: inherit;
    height: inherit;
    background-color: white;
    color: black;
}

.option-priority {
    color: black;
}

.movie-list-container {
    background-color: black;
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}