.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100vh;
    padding: 48px;
    background-color: black;
}

.list-header {
    display: flex;
    justify-content: end;
    height: 48px;
    border-radius: 8px;
}

.sort {
    width: inherit;
    height: inherit;
    background-color: white;
    color: black;
}

.option-priority {
    color: black;
}

.movie-list-container {
    background-color: red;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
}